.jumbotron #home-title {
	text-align: center;
}

.sidebar {
	clear: both;
	background-color: #ADD8E6;
	height: 1000px;
}

.sidebar .header {
	margin: auto;
	padding-top: 15px;
}

.sidebar .header .title {
	text-align: center;
	font-size: 30px;
}

.sidebar .rooms-list {
	margin: auto;
	padding-top: 15px;
}

.sidebar .rooms-list .chatrooms {
	text-align: center;
}