<section>
<div class="col-md-3 sidebar">
    <div class="header">
    <p class="title">Bloc Chat</p>
        <div class="new-chat-room">
            <button class="btn btn-primary" ng-click="home.openModal()"><strong>+ </strong>Create New Chat Room</button>
        </div>
    <section class="rooms-list">
    <div ng-repeat="room in home.chatRooms" class="chatrooms">
        <a ng-click="home.selectRoom(room)">{{ room.name }}</a>   
    </div>
            
    </section>
    </div>
    </div>
</section>


<div class="col-md-9 chatroom">
<h3>{{ home.selectedRoom.name }}</h3>
    <p ng-repeat="message in home.messages">
    <strong>{{ message.username }}:</strong> {{ message.content}} <small>{{message.sentAt}}</small>
    </p>
</div>
